/**
 * www.normanposselt.de v1.5 (august 2012)
 * content & code by norman posselt
 */

@import url(reset.css);

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot');
	src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#IcoMoon') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
	font-family: 'icomoon2';
	src: url('../fonts/icomoon2.eot');
	src: url('../fonts/icomoon2.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon2.woff') format('woff'),
		url('../fonts/icomoon2.ttf') format('truetype'),
		url('../fonts/icomoon2.svg#IcoMoon') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'Bariol_Light';
    src: url('../fonts/bariol_light-webfont.eot');
    src: url('../fonts/bariol_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_light-webfont.woff') format('woff'),
         url('../fonts/bariol_light-webfont.ttf') format('truetype'),
         url('../fonts/bariol_light-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol_Bold';
    src: url('../fonts/bariol_bold-webfont.eot');
    src: url('../fonts/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_bold-webfont.woff') format('woff'),
         url('../fonts/bariol_bold-webfont.ttf') format('truetype'),
         url('../fonts/bariol_bold-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol_Italic_Regular';
    src: url('../fonts/bariol_regular_italic-webfont.eot');
    src: url('../fonts/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bariol_regular_italic-webfont.woff') format('woff'),
         url('../fonts/bariol_regular_italic-webfont.ttf') format('truetype'),
         url('../fonts/bariol_regular_italic-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;
}

::selection { background: #f1433f; color: #fff; } /* Safari */
::-moz-selection { background: #f1433f; color: #fff; } /* Firefox */

.icon-b:before, .icon-a:after { font-family: 'icomoon'; font-weight: normal; font-style: normal; content: attr(data-icon); }
.icon-b2:before, .icon-a2:after { font-family: 'icomoon2'; font-weight: normal; font-style: normal; content: attr(data-icon); }

a, a:visited { 
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out; 
	transition: all .3s ease-in-out; 
}

a:hover { color: #f1433f; }

#page { 
	background-color: #fff; 
	font-family: 'TeXGyreHerosRegular'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 1em; 
	text-rendering: optimizeLegibility;
}

.container {
	width: 100%; 
	margin: 0 auto; 
}

.col1, { width: 10%; float: left; }
.col2 { width: 77%; float: right; margin-left: 1em; text-align: left; }

#header { 
	margin-top: 3.5em; 
	left: 50%; 
	position: relative; 
	width: 30em; 
	margin-left: -4.75em;
}

#header h1 { 
	font-size: 4em; 
	font-style: normal; 
	font-weight: normal; 
	margin-top: -3em; 
	margin-left: .2em ; 
}

#header h1 a { 
	font-size: 1em; 
	font-weight: bold; 
	text-decoration: none; 
	margin-left: 1% !important; 
}

#header h1 a, 
#header h1 a:active, 
#header h1 a:visited { 
	color: #999999; 
	text-decoration: none; 
}

#header h1 a:hover { color: /*#f1433f*/#64b41a; }

#portrait {
	position: relative; 
	width: 6em; 
	display: none;
}

#portrait img {
	display: block; 
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%;
	border-radius: 50%; 
	-webkit-box-shadow: 0 0 0 6px #cccccc, 0 0 9px black; 
	-moz-box-shadow: 0 0 0 6px #cccccc, 0 0 9px black;
	box-shadow: 0 0 0 6px #cccccc, 0 0 9px black; 
}

#content {
	left: 50%; 
	position: relative; 
	width: 40em; 
	margin-left: -19em; 
	margin-top: 3em;
	margin-bottom: 3em; 
}

#content p.intro {
	font-family: 'Bariol_Light'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 2em; 
	letter-spacing: -1px; 
	text-align: left;
	color: #333;
	display: none;
}

#content p.intro strong {
	font-family: 'Bariol_Bold'; 
	font-weight: normal; 
	font-style: normal; 
}

#content p.hint {
	margin-top: 1.5em; 
	font-family: 'Bariol_Light'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 1.8em; 
	letter-spacing: -1px; 
	text-align: left; 
	color: #777777; 
	display: none; 
}

#content p.hint a, 
#content p.hint a:visited,
#imprint-content a,
#imprint-content a:visited { 
	font-size: 1em; 
	color: #777777; 
	text-decoration: none; 
	border-bottom: 1px dotted #777777;
}

#content p.hint a:hover,
#imprint-content a:hover {
	color: #64b41a; 
	border-bottom: 1px dotted #64b41a;
}

#content p.hint span {
	left: 25%; 
	position: relative; 
	width: auto; 
	font-size: 1.75em;
}

#content p.hint span a, 
#content p.hint span a:visited { 
	font-size: 1em; 
	color: #999999; 
	text-decoration: none; 
	border-bottom: none;
}

#content p.hint span a:hover {color: #f1433f; border-bottom: none;}

#content p.hint span strong.github a:hover { color: #4183c4; border-bottom: none; }
#content p.hint span strong.google+ a:hover { color: #db4a39; border-bottom: none; }
#content p.hint span strong.linkedin a:hover { color: #0e76a8; border-bottom: none; }
#content p.hint span strong.twitter a:hover { color: #00a0d1; border-bottom: none; }
#content p.hint span strong.xing a:hover { color: #126568; border-bottom: none; }

#content p.hint i {
	color: #333;
	font-family: Bariol_Italic_Regular;
	left: 23%; 
	position: relative; 
	width: auto;
	top: .5em;
	unicode-bidi: bidi-override; direction: rtl;
}

#content p.hint small {
	color: #cccccc;
	position: relative;
	left: 19%; 
	top: .6em;
	
	
}

#footer { 
	width: 100%; 
	height: 1em;
	bottom: 1em; 
	position: fixed; 
	z-index: 10; 
	display: none; 
}

#footer .inner a { 
	font-size: 1.7em; 
	color: #999999; 
	text-decoration: none; 
}

#footer .inner a:hover { color: #64b41a; }

#footer .inner { 
	text-align: right; 
	margin: -21px 30px 0px 0px; 
}

#imprint-content {
	left: 50%; 
	position: relative; 
	width: 20em; 
	margin-left: -10em; 
	margin-top: 1.5em;
	margin-bottom: 1em; 
	
	font-family: 'Bariol_Light'; 
	font-weight: normal; 
	font-style: normal; 
	font-size: 1.8em; 
	letter-spacing: -1px; 
	text-align: left; 
	color: #777777; 
	line-height: 1.05em;
	display: none;
}

#imprint-content strong {
	font-family: 'Bariol_Bold'; 
	font-weight: normal; 
	font-style: normal; 
	color: #333;
}

